.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.banner-card-items {
  color: #326a9d;
  border: 1px solid #cbced2;
  margin: 10px;
  list-style-type: none;
  font-family: 'Roboto';
  padding: 25px 30px;
  border-radius: 10px;
}

.Show_more_button {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #326a9d;
  color: #326a9d;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
}

.description {
  color: #64748b;
}

.heading {
  font-size: 35px;
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: 18px;
  }

  .description {
    font-size: 12px;
  }

  .Show_more_button {
    padding: 3px;
    font-size: 10px;
    border-radius: 3px;
  }
}
